 <div id="skeleton-loading" class="w-1/2">
    <div class="my-5 mx-4 py-5 px-5 bg-blue-100 rounded-lg text-gray-700">
      <div class="animate-pulse py-3 bg-blue-600 w-1/3 rounded-lg"></div>
      <div class="mt-1 animate-pulse py-3 bg-blue-600 w-2/3 rounded-lg"></div>
    </div>
  </div>
