<div class="mx-auto my-4 w-full">
  <p class="text-2xl font-bold text-blue-700">Posts</p>
  <div class="flex flex-wrap overflow-y-scroll  ">
    <% @posts.each do |item| %>
      <div class="w-1/4 px-5"><%= render 'partials/card', data: item %></div>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  console.log("hey")
})
</script>
